<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{{#if pageTitle}}{{title}} - {{pageTitle}}{{else}}{{title}}{{/if}}</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			{{{body}}}
			{{> footer}}
		</div>
	</div>
</body>
</html>
