<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}} - {{pageTitle}}</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div id="news" class="body">
							<div class="sidebar">
								<h3>Latest News</h3>
								<ul>
									{{#each latestNews}}
									<li>
										<a href="/news">{{title}}</a>
										<small> - {{date}}</small>
									</li>
									{{/each}}
								</ul>
								<h3>Vacation Tips</h3>
								<ul>
									{{#each vacationTips}}
									<li>
										<a href="/news">{{title}}</a>
									</li>
									{{/each}}
								</ul>
							</div>
							<div class="content">
								<h1>{{pageTitle}}</h1>
								<h2>Latest Updates</h2>
								{{#each latestNews}}
								<article class="news-article">
									<h3>{{title}}</h3>
									<div class="news-meta">
										<span class="date">{{date}}</span>
										<span class="category">{{category}}</span>
									</div>
									<p><strong>{{summary}}</strong></p>
									<p>{{content}}</p>
								</article>
								{{/each}}
								
								<h2>Vacation Tips</h2>
								{{#each vacationTips}}
								<article class="tip-article">
									<h3>{{title}}</h3>
									<div class="tip-meta">
										<span class="category">{{category}}</span>
									</div>
									<p><strong>{{summary}}</strong></p>
									<p>{{content}}</p>
								</article>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
			{{> footer}}
		</div>
	</div>
</body>
</html>
