<div id="contents">
	<div class="box">
		<div>
			<div class="body">
				<h1>Travel</h1>
				<ul id="sites">
					{{#each trips}}
					<li>
						<a href="/api/trips/code/{{code}}"><img src="/images/{{image}}" alt="{{name}}"></a>
						<h2><a href="/api/trips/code/{{code}}">{{name}}</a></h2>
						<div class="trip-details">
							<p><strong>Length:</strong> {{length}}</p>
							<p><strong>Start Date:</strong> {{start}}</p>
							<p><strong>Resort:</strong> {{resort}}</p>
							<p><strong>Price per Person:</strong> ${{perPerson}}</p>
						</div>
						<p>{{description}}</p>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>
